<h1>Cadastre-se no BAWMC.net</h1>

<div class="painel" style="max-width:480px;">
  <% if @usuario.errors.any? %>
    <div class="erros-lista">
      <ul>
        <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form action="/cadastro" method="post">
    <div class="form-grupo">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" value="<%= @usuario.nome %>" required>
    </div>
    <div class="form-grupo">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" value="<%= @usuario.email %>" required>
    </div>
    <div class="form-grupo">
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" value="<%= @usuario.cpf %>" required>
    </div>
    <div class="form-grupo">
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" value="<%= @usuario.telefone %>">
    </div>
    <div class="form-grupo">
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required minlength="6">
    </div>
    <div class="form-grupo">
      <label for="senha_confirmacao">Confirmar senha</label>
      <input type="password" id="senha_confirmacao" name="senha_confirmacao" required minlength="6">
    </div>
    <button type="submit" class="botao">Criar conta</button>
  </form>
</div>
